
/* banner */
body{
    background-color: #002135;
}
.hero_img{
    background: linear-gradient(rgba(0, 33, 53, 0.82), rgba(0, 33, 53, 0.82)),  url(./assets/img/banner.avif);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        
}

.hero_container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}



.hero_content p{
    font-size: 1.1rem;
    max-width: 60%;
    margin-bottom: 1.5rem;

}

/* cards */

.Ofrecemos{
    background-color: #00273f;
}


/* media querie */

@media (max-width: 768px){

    .cards_container{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 100%;
    }


}