@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #E3EFF5; */
   

}

html{
    font-family: 'Roboto';
    font-size: 18px;
}

#mainNavy {
    background-color: #00629C;
    color: aliceblue;
}

.navbar-brand{
    color: aliceblue;
    transition: all 0.4s ease 0s;
}

.navbar-brand:hover{
    color: #F8904B ;

}


.navbar-brand img{
    background-color: #E3EFF5;
    border-radius: 50%;
}


#mainNavy .nav-link{
    color: aliceblue ;
}
#mainNavy .nav-link:hover{
    color: #F8904B ;
}

#ctc-btn{
    color: aliceblue;
    border-color:aliceblue;
   
}

#ctc-btn:hover{
    background-color: #F8904B;
    color: #00629C;
}

/* banner */

.hero_img{
    background: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)),  url(./assets/img/banner.avif);
   
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        
}

.hero_container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E3EFF5;   
}



.hero_content p{
    font-size: 1.1rem;
    max-width: 60%;
    margin-bottom: 1.5rem;

}

/* cards */
.offers{
    text-align: center;
    padding: 0.5em;
    /* background-color: #E3EFF5; */
    color: #00629A;
}
.cards{
    display: flex;
    background-color: white ;
    padding: 16px 0;

}

.cards_container{
    margin: 0 auto;
    width: 80%;
    display: flex;
}

.card{
    text-align: justify;
    width: 25%;
    overflow: hidden;
    margin: 0 1em;
    border-radius: 0.2em;
    /* background-color: #00629A; */
    transition: 0.4s;
    /* background-color: #E3EFF5; */

}
.card:hover{
    box-shadow:  6px 6px 20px black;
    cursor: pointer;
    transform: translatey(1%);

}
.card img{
    width: 100%;
    height: 210px;
    object-fit: cover;
    object-position: center;
}
.card h3{
    text-align: center;
    color: black;
    padding-bottom: 8px;
}
.card p{
    color: rgb(52, 52, 52);
}

.card_content{
    padding: 16px;
} 



/* media querie */

@media (max-width: 768px){

    .cards_container{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 100%;
    }


}