@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html{
    font-family: 'Roboto';
    font-size: 18px;

}


#mainNavy {
    background-color: #00629C;
    color: aliceblue;
}

.navbar-brand{
    color: aliceblue;
    transition: all 0.4s ease 0s;
}

.navbar-brand:hover{
    color: #F8904B ;

}


.navbar-brand img{
    background-color: #E3EFF5;
    border-radius: 50%;
}


#mainNavy .nav-link{
    color: aliceblue ;
}
#mainNavy .nav-link:hover{
    color: #F8904B ;
}

#ctc-btn{
    color: aliceblue;
    border-color:aliceblue;
   
}

#ctc-btn:hover{
    background-color: #F8904B;
    color: #00629C;
}

.display-2, .display-5{
    font-weight: 400;
    color: #00629C;
}



.subtit{
    border-top: 1px solid #00629C;
    margin: 4rem 0 2rem;
    font-weight: 400;
}
.card{

    transition: 0.4s;

}
.card:hover{
    box-shadow:  2px 2px 5px black;
    cursor: pointer;

    transform: translatey(-1%);
}
