@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    font-size: 18px;
}
/*Nav bar*/
#mainNavy {
    background-color: #002135;
    color: #E3EFF5;
    border-top: 1px solid #7c8b92;
    border-bottom: 1px solid #7c8b92;

}



.navbar-brand{
    transition: all 0.4s ease 0s;
    color: #F8904B ;
}

.navbar-brand:hover{
    color: #E3EFF5;

}


.navbar-brand img{
    background-color: #E3EFF5;
    border-radius: 50%;
}


#mainNavy .nav-link{
    color: #E3EFF5 ;
}
#mainNavy .nav-link:hover,#mainNavy .nav-link>:active {
    color: #F8904B ;
}



.btn-primary {
    --bs-btn-color: #E3EFF5;
    --bs-btn-bg: #ff7c24;
    --bs-btn-border-color: #ff7c24;
    --bs-btn-hover-color: #E3EFF5;
    --bs-btn-hover-bg: #ff6600;
    --bs-btn-hover-border-color: #ff6600;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #E3EFF5;
    --bs-btn-active-bg: #F8904B;
    --bs-btn-active-border-color: #F8904B;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fd6500;
    --bs-btn-disabled-border-color: #F8904B;
    --bs-gradient: none;
}


.btn-outline-primary {
    --bs-btn-color: #F8904B;
    --bs-btn-border-color: #F8904B;
    --bs-btn-hover-color: #E3EFF5;
    --bs-btn-hover-bg: #F8904B;
    --bs-btn-hover-border-color: #F8904B;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #E3EFF5;
    --bs-btn-active-bg: #F8904B;
    --bs-btn-active-border-color: #F8904B;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F8904B;
    --bs-btn-disabled-border-color: #F8904B;
    --bs-gradient: none;
}