
body{
    background-color: #002135;
}
main{
    background-color: #00273f;
    

}
.display-2, .display-5{
    font-weight: 400;
    color: #E3EFF5;
}



.subtit{
    border-top: 1px solid #7c8b92;
    margin: 4rem 0 2rem;
    font-weight: 400;
}
.card{

    transition: 0.4s;

}
.card:hover{
    border: 1px solid #7c8b92;
    cursor: pointer;

    transform: translatey(-1%);
}


.card{
    background-color: #002135;
    color: #E3EFF5;
}


